:root {
  --primary: #0fb600;
  --bg: #010101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1 rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
}

.menu li {
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.menu a:hover {
  color: #00bcd4;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1rem 7%;
  max-width: 100rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  mix-blend-mode: difference;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}
.deskrip h3 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 20px;
  font-size: 30px;
}
.deskrip p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 20px;
}
.h2keunggulan h2 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 20px;
  font-size: 50px;
}
.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #000000;
}
.section {
  text-align: center;
  padding: 20px;
  background: rgb(0, 0, 0);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.section-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-description {
  font-size: 14px;
  color: #ffffff;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  color: #000000;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}
.container-button {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
.container-button .aurora {
  flex: 1 1 300px;
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-button .aurora button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}
.container-button .aurora button:hover {
  background-color: #f60000;
}
.container-button .aurora .description {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
}
.container-button .serenity {
  flex: 1 1 300px;
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 0 4px rgb(0, 0, 0) rgba(0, 0, 0, 0.1);
}
.container-button .serenity button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #8400ff;
  color: white;
}
.container-button .serenity button:hover {
  background-color: #f60000;
}
.container-button .serenity .description {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
}
.container-button .alpine {
  flex: 1 1 300px;
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-button .alpine button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #009e03;
  color: white;
}
.container-button .alpine button:hover {
  background-color: #f60000;
}
.container-button .alpine .description {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.popup img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.popup-close {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
}
.popup-close:hover {
  background-color: #a71d2a;
}

/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  color: #fff;
  margin: 1rem;
}
footer .links {
  margin-bottom: 1rem;
}
footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tables */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  .section {
    width: 45%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .section {
    width: 100%;
  }

  .card {
    width: 100%;
  }
  .menu {
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  .menu li {
    margin: 0 15px;
  }
}
.menu.show {
  display: flex;
}
